/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07 Mar 2019, 10:20:21 AM
    Author     : User
*/

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #19212b;
    background-color: #ffffff;
}

#main{ background: #eee }

#header{
    height: 250px;
    background: #aaa;
}

#indexLeftColumn{
    height: 400px;
    width: 350px;
    float: left;
    background: #ccc;
}
#indexRightColumn{
    height: 400px;
    width: 1000px;
    float: left;
    background: lightskyblue;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}

.wrapper{
    min-height: 100%;
    height: auto!important;
    margin: auto ;
}

.footer {
  margin-top: 500px;
  padding:auto;
  background: red;
}

#footer{
    height: auto!important;
    width: 1585px;
    clear:initial;
    background: #aaa;
}

#logo{
    height: 155px;
    width: 400px;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}

#logoText{
    float: left;
    margin: 20px 0 0 70px;
    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    color: #red;
}

#widgetBar{
    height: 5px;
    width: 85px;
    float: right;
    background: #ccc;
}

.headerWidget{
    width: 194px;
    margin: 20px;
    font-size: small;
    float: right;
    line-height: 25px;
    background: #aaa;
}

.categoryBox{
    height: 94px;
    width: 103px;
    margin: 02px 04px 5px;
    float:contour;
    background: #ccc;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.categoryLabelText{
    line-height: 100px;
    font-size: small
}

hr{
    border: 0;
    background-color: #333;
    height: 1px;
    margin: 0 2px;
    width: 300px;
}

#welcomeText{
    font-size: large; 
}

#footerText{
    background-color: #ff0000; 
}

#nav{
    margin-top: 4%;
    width: 100%;
    height: 2%;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuitem{
    padding: 3% 3% 3% 3%;
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: 'Lobster Two';
    font-size: 1.5vw; 
    box-shadow: 10px 15px 50px black;
}

.menuitem:hover{
    background-color: green;
    box-shadow: none;
}
